In [1]:
x=2
x

2

In [2]:
y=3
y

3

In [3]:
z=x+y
z

5

In [4]:
print("SUM is:",z)

SUM is: 5

In [5]:
s="Raja's"
d="favourite"
f="number is"

In [6]:
s

"Raja's"

In [7]:
d

'favourite'

In [8]:
f

'number is'

In [9]:
a=s+" "+d+" "+f
a

"Raja's favourite number is"

In [10]:
b=9
b

9

In [11]:
b=str(b)

In [12]:
a=a+" "+b
a

"Raja's favourite number is 9"

In [13]:
3*3

9

In [14]:
3+3

6

In [15]:
3/3

1.0

In [16]:
3-3

0

In [17]:
3//3

1

In [18]:
10%3

1

In [19]:
3*3

9

In [20]:
3**3

27

In [21]:
q=10/3
q

3.3333333333333335

In [22]:
round(q,2)

3.33

In [23]:
(5+3)/2

4.0

In [24]:
5/(3+2)

1.0

In [25]:
(5+4)-2

7

In [26]:
6-2*2

2

In [27]:
(5-3)*2

4

In [28]:
5-4.7

0.2999999999999998

In [29]:
round(5-4.7,2)

0.3

In [30]:
2==2

True

In [31]:
3==2

False

In [32]:
5<=3

False

In [33]:
3<=5

True

In [34]:
2>5

False

In [35]:
5>2

True

In [36]:
2!=2

False

In [37]:
3!=2

True

In [38]:
5>2 and 6>3

True

In [39]:
5>2 and 3>6

False

In [40]:
5>2 or 6>3

True

In [41]:
5>2 or 3>6

True

In [42]:
not 3==4

True

In [43]:
not 3==3

False

In [44]:
e="Raja Kodumuru"
e

'Raja Kodumuru'

In [45]:
e[:]

'Raja Kodumuru'

In [46]:
e[0]

'R'

In [47]:
e[:4]

'Raja'

In [48]:
e[5:]

'Kodumuru'

In [49]:
e[5:8]

'Kod'

In [50]:
e[:-1]

'Raja Kodumur'

In [51]:
e[-1]

'u'

In [52]:
e[-8:-1]

'Kodumur'

In [53]:
g="Raja's Book"
g

"Raja's Book"

In [54]:
l=["Kodumuru","Raja","17CS15"]
l

['Kodumuru', 'Raja', '17CS15']

In [55]:
l[0]

'Kodumuru'

In [56]:
l[:]

['Kodumuru', 'Raja', '17CS15']

In [57]:
l[0:2]

['Kodumuru', 'Raja']

In [58]:
l[:-1]

['Kodumuru', 'Raja']

In [59]:
l[-1:]

['17CS15']

In [60]:
l[-2]

'Raja'

In [61]:
l[2]="15"
l

['Kodumuru', 'Raja', '15']

In [62]:
l.append("CSE")
l

['Kodumuru', 'Raja', '15', 'CSE']

In [63]:
l.insert(4,"AI & ML")
l

['Kodumuru', 'Raja', '15', 'CSE', 'AI & ML']

In [64]:
l.remove("AI & ML")
l

['Kodumuru', 'Raja', '15', 'CSE']

In [65]:
len(l)

4

In [66]:
h=["Kodumuru"]
k=['Raja']
n=h+k
n

['Kodumuru', 'Raja']

In [67]:
'Kodumuru' in n

True

In [68]:
'5' in n

False

In [69]:
x=input("Enter the number: ")

Enter the number: 5

In [70]:
x=int(x)

In [71]:
if x%2==0:
    print("Number is Even")
else:
    print("Number is Odd")

Number is Odd

In [72]:
p=[1,2,3,4]
p

[1, 2, 3, 4]

In [73]:
q=[5,6,7,8]
q

[5, 6, 7, 8]

In [74]:
o=[9,10,11,12]
o

[9, 10, 11, 12]

In [75]:
if 2 in p:
    print("2 is available in list p")
elif 2 in q:
    print("2 is available in list q")
elif 2 in o:
    print("2 is available in list o")
else:
    print("2 is not available in any of those lists p,q,o")

2 is available in list p

In [76]:
if 5 in p:
    print("5 is available in list p")
elif 5 in q:
    print("5 is available in list q")
elif 5 in o:
    print("5 is available in list o")
else:
    print("5 is not available in any of those lists p,q,o")

5 is available in list q

In [77]:
if 11 in p:
    print("11 is available in list p")
elif 11 in q:
    print("11 is available in list q")
elif 11 in o:
    print("11 is available in list o")
else:
    print("11 is not available in any of those lists p,q,o")

11 is available in list o

In [78]:
if 20 in p:
    print("20 is available in list p")
elif 20 in q:
    print("20 is available in list q")
elif 20 in o:
    print("20 is available in list o")
else:
    print("20 is not available in any of those lists p,q,o")

20 is not available in any of those lists p,q,o

In [79]:
v=[1,2,3,4]
v

[1, 2, 3, 4]

In [80]:
for i in v:
    print(i)

1
2
3
4

In [81]:
t=0
for i in v:
    t=t+i
t

10

In [82]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [83]:
s=0
for i in range(1,11):
    s=s+i
s

55

In [84]:
for i in range(1,11):
    s=i*i
    print(s)

1
4
9
16
25
36
49
64
81
100

In [85]:
p=0
w=[100,200,300,400,500]
for i in range(len(w)):
    print(i,"month expense",w[i])
    p=p+w[i]
print("Total expenses are",p)

0 month expense 100
1 month expense 200
2 month expense 300
3 month expense 400
4 month expense 500
Total expenses are 1500

In [86]:
t=[1,2,3,4]
d=3
for i in t:
    if i==d:
        print("Number is in the list")
        break

Number is in the list

In [87]:
for i in range(1,6):
    if i%2==0:
        pass
    else:
        print(i*i)

1
9
25

In [88]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [89]:
i=1
s=0
while i<=5:
    s=s+i
    i+=1
s

15

In [90]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

In [91]:
def interest(z):
    t=0
    for i in z:
        t=t+i
    return t

In [92]:
interest(a)

15

In [93]:
interest(b)

40

In [94]:
def interest(z):
    t=0
    for i in z:
        t=t+i
    print("Total is:",t)

In [95]:
interest(a)

Total is: 15

In [96]:
def interest(z):
    global t
    t=0
    for i in z:
        t=t+i
    print("Total is:",t)

In [97]:
interest(b)

Total is: 40

In [98]:
t

40

In [99]:
def interest(z=[1,2,3,4]):
    global t
    t=0
    for i in z:
        t=t+i
    print("Total is:",t)

In [100]:
interest()

Total is: 10

In [101]:
d={"Raja":10,"Bunty":20,"Nisha":30,"Sathya":40}
d

{'Raja': 10, 'Bunty': 20, 'Nisha': 30, 'Sathya': 40}

In [102]:
d['Raja']

10

In [103]:
d['Raja']=100
d

{'Raja': 100, 'Bunty': 20, 'Nisha': 30, 'Sathya': 40}

In [104]:
del d['Bunty']
d

{'Raja': 100, 'Nisha': 30, 'Sathya': 40}

In [105]:
for i,j in d.items():
    print(i,j)

Raja 100
Nisha 30
Sathya 40

In [106]:
"Raja" in d

True

In [107]:
d.clear()
d

{}

In [108]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [109]:
t[0]

1

In [110]:
t[:]

(1, 2, 3, 4)

In [111]:
t[0:3]

(1, 2, 3)

In [112]:
t[-1]

4

In [113]:
t[:-1]

(1, 2, 3)

In [114]:
t[-1:]

(4,)

In [115]:
def calculate(a,b):
    return a+b
if __name__=='__main__':
    s=calculate(4,5)
    print(s)

9

In [116]:
x=10
y=0

In [117]:
try:
    s=x/y
except Exception as e:
    print("Exception Occurred:", e)

Exception Occurred: division by zero

In [118]:
x=str(x)

In [119]:
try:
    s=x/y
except Exception as e:
    print("Exception Type:", type(e).__name__)

Exception Type: TypeError

In [120]:
class Addition:
    def __init__(self,a,b):
        self.num1=a
        self.num2=b
    def add(self):
        z=self.num1+self.num2
        print(z)

In [121]:
Addition(5,5)

In [122]:
Addition(5,5).add()

10

In [123]:
class Maths:
    def __init__(self,a,b):
        self.num1=a
        self.num2=b
    def add(self):
        z=self.num1+self.num2
        print(z)
    def sub(self):
        f=self.num1-self.num2
        print(f)
    def mul(self):
        g=self.num1*self.num2
        print(g)
    def div(self):
        h=self.num1/self.num2
        print(h)

In [124]:
m=Maths(15,3)
m.add()

18

In [125]:
m.sub()

12

In [126]:
m.mul()

45

In [127]:
m.div()

5.0